.block {
  border-bottom: 1px solid #777;
  margin-bottom: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: disc;

  .title-kcal {
    .title {
      color: var(--default);
      font-family: var(--font-family-default);
      font-size: 15px;
      font-weight: 300;
      line-height: 22px;
      letter-spacing: 0.075px;
    }

    .kcal {
      color: var(--yellow);
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.075px;
      margin-bottom: 2px;
    }
  }

  .time {
    color: var(--yellow);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.09px;
  }
}
