.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  min-height: 100px;
  width: 100%;
}
